# Firebase Client Configuration
VITE_FIREBASE_API_KEY=AIzaSyC1nOhO-HvHUmZ832pU8PNhnKt04XiwkPQ
VITE_FIREBASE_AUTH_DOMAIN=workshop-b96b6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=workshop-b96b6
VITE_FIREBASE_STORAGE_BUCKET=workshop-b96b6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=469841093222
VITE_FIREBASE_APP_ID=1:469841093222:web:d7f6bbcd8ee606397183a7
VITE_FIREBASE_MEASUREMENT_ID=G-V5YN0E1HYC

# Server & Backend Configuration
PROJECT_NAME="Smart Canteen Waste Predictor"
PROJECT_VERSION="1.0.0"
SECRET_KEY="smart-canteen-super-secret-key-change-in-prod-2026"
HOST=127.0.0.1
PORT=8000
